numpy<2
scipy
h5py
notebook
jupyterlab
jupyterlab-myst
ipywidgets
matplotlib
ipympl
colorspacious
abtem==1.0.9
ase
py4dstem==0.14.18
https://raw.githubusercontent.com/gvarnavi/TemGymLite/main/dist/temgymlite-0.6.0.0-py3-none-any.whl
